{% extends 'base.html.twig' %}
{% block content %}
    <section>
        <h2 class="section-title">Deload</h2>

        <p>Het woord ‘deload’ is wat lastig te vertalen naar het Nederlands. Het betekent letterlijk zoiets als ‘aflading’. Binnen de krachtsport heeft het de betekenis van een korte periode (meestal maximaal een week) waarin op lagere intensiteit en/of lager volume wordt getraind dan in de voorgaande en daaropvolgende weken. Vrijwel alle lifters hebben met enige regelmaat een deload nodig, waarin ze dus even wat minder gewicht verplaatsen en ook wat minder volume draaien op hun werksets dan ze buiten die deload om doen. Dit doet een lifter om zich weer op te laden voor een volgende fase van de trainingscyclus en om wat pijntjes en opgebouwde vermoeidheid (fatigue) te laten verdwijnen. Voorts kan een deload ook een voorbode zijn voor een testmoment: door wat minder volume op lagere intensiteit te draaien zorg je ervoor dat je fitter en meer uitgerust bent voor de zwaardere singles die je in de eerstvolgende training na de deload gaat draaien.</p>

        <p class="margin-top">Moment, duur en mate van een deload zijn van zo veel variabelen afhankelijk dat het heel erg moeilijk is algemeen te stellen hoe die deload er precies uit zou moeten zien. Trainingservaring, fase van periodisatie waarin je zit, opgebouwde fatigue, trainingsresultaten van voorgaande weken, herstelvermogen, allerlei externe omstandigheden, zelfs zaken als geslacht, leeftijd en lichaamsgewicht kunnen absoluut meespelen. In sommige off season volume blocks kan een willekeurige lifter wel 12-13 weken doortrekken zonder deload, en in een peak strength fase zal diezelfde lifter misschien al na 2-3 weken deloaden (dit wordt dan vaak een taper genoemd).</p>
        <p>Bij het inplannen van een deload stel je jezelf eigenlijk drie vragen:</p>
        <ol class="list--indented">
            <li>Wanneer plan ik de deload in?</li>
            <li>Hoe lang gaat de deload duren?</li>
            <li>Hoeveel procent ga ik deloaden t.o.v. de gehanteerde intensiteiten en volumes in voorgaande we(e)k(en)</li>
        </ol>
        <p>Bij lifters die op basis van een RPE-style programmering trainen kan de laatste vraag aangepast worden naar de juiste terminologie: hoeveel lager ga ik in mijn RPE’s zitten t.o.v. de gehanteerde RPE’s in voorgaande we(e)k(en)?</p>

        <p class="margin-top">De antwoorden op alle bovenstaande vragen zijn helaas niet algemeen te geven. Maar om het één en ander inzichtelijk te maken proberen we aan de hand van twee fictieve lifters te laten zien welke keuzes je zou kunnen maken en waarom.</p>

        <p class="margin-top">Lifter A is een mannelijke lifter van 30 jaar, 1m80 en 100 kilo lichaamsgewicht. Lifter A traint inmiddels ruim tien jaar hard en serieus en draait mee in de landelijke top binnen het powerliften.</p>
        <p>Lifter B is een vrouwelijke lifter van 20 jaar, 1m65 en 60 kilo lichaamsgewicht. Lifter B is een half jaar serieus aan het trainen en is in voorbereiding op haar eerste powerlifting wedstrijd.</p>

        <p class="margin-top">Laten we nu voor het gemak veronderstellen dat de lifter of de coach op het punt staat voor beide lifters een block uit te schrijven van 13 weken. Aan het einde van dit block hebben beide lifters een wedstrijd. We laten de laatste twee weken (taper) even buiten beeld. Laten we ook even er van uit gaan dat er geen externe factoren (stress, slaapgebrek, slechte voeding, etc) zijn die beide lifters limiteren.</p>

        <p class="margin-top">Voor lifter A zouden de antwoorden op de vragen als volgt kunnen zijn:</p>
        <ol class="list--indented">
            <li>De deload vindt ongeveer halverwege het trainingsblock plaats, dus in de 6e of 7e week.</li>
            <li>De deload duurt één volledige week.</li>
            <li>De deload behelst een reductie van ongeveer 20-25% van het gewicht én het volume t.o.v. de laatste werksets. Dus waar de lifter in de week vóór de deload bijvoorbeeld 4x5x200 squatte, zou dat nu 3x5x160 kunnen worden.</li>
        </ol>

        <p class="margin-top">Voor lifter B komen we misschien wel op hele andere antwoorden:</p>
        <ol class="list--indented">
            <li>Twee deloads, één na week 4, één tijdens of na week 8 of 9.</li>
            <li>Beide deloads zijn aan de kortere kant, twee of drie trainingen.</li>
            <li>Deload 1 vindt plaats na vier weken flink volume en de deload vindt dan ook alléén plaats op het volume. Intensiteit gaat misschien zelfs wel omhoog. Deload 2 vindt plaats na 3-4 weken hoog volume én hoge intensiteit en dus vindt de deload plaats op beide zaken. Deload 1 reduceert het volume met zo’n 10-15%. In deload 2 draait de lifter ongeveer 15-20% minder volume én lagere intensiteit.</li>
        </ol>

        <p class="margin-top">Welke overwegingen spelen nu mee in de toch wel significante verschillen in de opzet van de deload(s) tussen beide lifters?</p>
        <ul class="list--indented">
            <li>Lifter A heeft aanzienlijk meer trainingservaring dan lifter B. Lifter A zal langere tijd kunnen door pushen, minder technische breakdown hebben op zijn lifts en makkelijker zijn fatigue kunnen managen. Omdat hij verder en langer kan door pushen heeft hij ook een scherpere, langere deload nodig dan lifter B. Lifter B zal door haar relatieve onervarenheid vrij snel te maken krijgen met verminderde kwaliteit van reps en sets. Ze zal meer technische issues hebben, minder goed haar fatigue kunnen managen en ook minder goed in een ‘fatigued state’ kunnen liften. Typisch zie je bij lifter B op medium tot hoge percentages van haar 1RM werksets waarbij de eerste set nog vrij makkelijk gaat en de laatste set een killer is. Bij lifter A zit meer continuïteit in de sets én reps.</li>
            <li>Lifter B zal met een korte, lichtere deload al heel snel haar fatigue weer weggewerkt hebben, vooral ook omdat de load (totaalvolume) die zij gebruikt veel lager is dan die van lifter A. Lifter B verzet veel minder gewicht per trainingssessie en dus ook per week / maand / willekeurige periode dan lifter A.</li>
            <li>Tevens geldt voor lifter B dat langer wegblijven van wat meer serieuze werkgewichten ook weer langere adaptatie vergt aan die zwaardere gewichten dan voor lifter A geldt. Vandaar twee korte deloads van minder dan een week voor lifter B.</li>
            <li>Tegen de tijd dat de tweede deload er aan komt is lifter B wat meer vermoeid geraakt door de voorgaande weken, versterkt door het feit dat de eerste deload slechts een lichte was, en is de deload dus wat scherper (hoger percentage). Voor lifter A geldt dat hij tot aan zijn taper geen nieuwe deload nodig heeft. Hij is jarenlang volumes draaien gewend geraakt en is na één volle week deload weer volledig uitgerust en klaar om langere tijd op hogere intensiteit te gaan knallen. Pas in week 12/13 zal er een laatste deload (taper) zijn.</li>
        </ul>

        <p class="margin-top">Zo zien we dat er grote verschillen kunnen zijn, en nu is er nog niet eens rekening gehouden met allerlei externe factoren. Bij sommige lifters doe ik een deload waarin ik soms <10% zak, soms juist >25%. Soms deload ik alleen op intensiteit, soms alleen op volume, soms op allebei. Soms deload ik maar op één lift en op de andere lifts niet, etc. Soms deloaden we in overleg ook gewoon helemaal niet, vanwege tijdsissues of gewoon omdat het niet nodig lijkt te zijn op dat moment.</p>

        <p class="margin-top">Ten laatste is het belangrijk om te vermelden dat een deload zeker géén relax weekje is. Je kunt een deload heel goed aanwenden om eens wat nieuwe dingen uit te proberen, technische aanpassingen door te voeren, na te denken over de mentale approach van je trainingen, de volgende trainingsfase goed uit te schrijven, et cetera. Maar ook tijdens het uitvoeren van die lichtere werksets is het belangrijk om er niet te gemakkelijk over te denken. Voer je sets uit alsof het max effort sets zijn, en niet alleen omdat de gewichten vaak nog niet eens zo heel erg laag liggen: het is namelijk ontzettend belangrijk om vertrouwen te kweken voor een nieuwe trainingsfase en dus gewoon harde sets te draaien. Ook heeft een goede focus over het algemeen een blessure voorkomende werking: je vergeet je cues niet, je neemt de set en de gewichten serieus, zoals je altijd zou moeten.</p>

        <p class="margin-top">Wil jij nu nog meer weten over deloads of over trainingsschema’s in het algemeen? Neem dan eens contact met ons op! Stuur ons een DM of stuur een mailtje naar <a href="mailto:info@sccpowerhouse.nl">info@sccpowerhouse.nl</a>.</p>
    </section>
{% endblock %}
