/** Colors **/
$gray-light: #f2f1ed;
$gray: #ccc;
$gray-dark: #444;
$black: #202020;
$red: #951313;

/** Spacings **/
$spacing-small: 12px;
$spacing-medium: 24px;
$spacing-large: 36px;
$spacing-huge: 48px;
$spacing-massive: 72px;

/** Breakpoints **/
$screensize-huge: 1600px;
$screensize-medium: 1200px;
$screensize-small: 800px;
$screensize-tiny: 600px;