{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}Welkom admin{% endblock %}

{% block main %}
    <p>In het menu aan de linkerkant kan je ingezonden berichten, proeftraining aanvragen en coaching verzoeken vinden.</p>
{% endblock %}
