form {
  .form-control {
    width: 100%;
    padding: 6px 12px;
    border: 1px solid #ccc;
    font-family: "Roboto Slab",serif;
    font-size: 15px;
  }
  label {
    font-weight: 700;

    &.required:after {
      content: '*';
      color: $red;
    }
  }
  .form-group {
    margin-bottom: 15px;
  }
  .hidden {
    display: none;
  }
}
