{% set activePage = 'atleten' %}
{% extends 'base.html.twig' %}
{% block content %}
    <section class="section--center">
        <h1>Pagina niet gevonden</h1>

        <p>De opgegeven pagina bestaat niet.</p>

        <p class="margin-top">Op deze pagina gekomen via een link die wel zou moeten bestaan? Neem dan even <a href="/contact">contact</a> met ons op.</p>
    </section>
{% endblock %}
